In [3]:
x = 1 
y  = 2
z = x + y
print(z)

3

In [4]:
print(x)

1

In [6]:
def add(x,y):
    return x+y
add(1,2)

3

In [10]:
def tree_val(x,y,z=None):
    if z == None:
        return x+y
    else:
        return x+y+z
print(tree_val(1,2,3))
print(tree_val(1,2))

6
3

In [11]:
def add_numbers(x , y , z=None , flag=False):
    if flag:
        print('Flag is true')
    if z == None:
        return x+y
    else:
        return x+y+z
print(add_numbers(1,2,flag=True))

Flag is true
3

In [14]:
print(
type('This is a string'),
type(None),
type(1),
type(1.0),
type(add_numbers)
)

<class 'str'> <class 'NoneType'> <class 'int'> <class 'float'> <class 'function'>

In [15]:
tuple_ex = (1,'a',2,'b')
# mutable or immutable ? the tuple is immutable , cannot be changed
print(type(tuple_ex))

<class 'tuple'>

In [ ]:
List = [1,'a',2,'b']
# mutable or immutable ? the list is mutable , can be changed
print(type(List))

In [ ]:
List.append(3.3) # add a new element to the list
print(List)

In [18]:
List = [1,'a',2,'b']
List.append(3.3)
for item in List:
    print(item)

1
a
2
b
3.3

In [19]:
i = 0 
while i != len(List):
    print(List[i])
    i = i + 1

1
a
2
b
3.3

In [20]:
# concatenate lists
[1,2] + [3,4]

[1, 2, 3, 4]

In [21]:
1 in [1,2,3]

True

In [22]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [23]:
print(x[-1])
print(x[-4:-2])

g
ri

In [24]:
print(x[:3])

Thi

In [25]:
x = 'Dr. Christopher Brooks'

print(x[4:15])

Christopher

In [26]:
firtname = "kernel"
lastname = "Matab"
print(firtname + ' ' + lastname)
print(firtname*3)
print('kernel' in firtname)

kernel Matab
kernelkernelkernel
True

In [32]:
firtname = "kernel saif  Matab".split(' ')[0]
lastname = "kernel saif  Matab".split(' ')[-1]
print(firtname)
print(lastname)

kernel
Matab

In [38]:
x = {
    'name' : 'kernel',
    'lastname' : 'Matab',
    'address' : 'FR',
    'mail' : 'kernel@gmail.com'
}
print(x)
x['name']
x['address']
x["hobby"] = "football"
print(x)

{'name': 'kernel', 'lastname': 'Matab', 'address': 'FR', 'mail': 'kernel@gmail.com'}
{'name': 'kernel', 'lastname': 'Matab', 'address': 'FR', 'mail': 'kernel@gmail.com', 'hobby': 'football'}

In [40]:
for name in x:
    print(x[name])

football
kernel
Matab
FR
kernel@gmail.com
football

In [41]:
for mail in x.values():
    print(mail)

kernel
Matab
FR
kernel@gmail.com
football

In [42]:
x = ('kernel','Matab','FR')
name , lastname , address = x
print(name)

kernel

In [43]:
print('kernel' + str(2))

kernel2

In [44]:
sales_record = {
    'price' : 3.24,
    'num_items' : 4,
    'person' : 'kernel'
}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

kernel bought 4 item(s) at a price of 3.24 each for a total of 12.96

# Dates & Time

In [4]:
import datetime as dt
import time as tm

tm.time()

dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 11, 9, 19, 11, 52, 473747)

In [5]:
dtnow.year , dtnow.month , dtnow.day , dtnow.hour , dtnow.minute , dtnow.second

(2023, 11, 9, 19, 11, 52)

In [10]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta
today = dt.date.today()
today-delta # the date 100 days ago

datetime.date(2023, 8, 1)

# Advanced Python : Obejct & map()

In [ ]:
class Person : 
    dep = 'Data Science'
    def set_name(self , new_name): # why we wrote self => because we want to access to the object
        self.name = new_name   
    def set_location(self , new_location):
        self.location = new_location

In [11]:
store1 = [10.00 , 11.00 , 12.34 , 2.34]
store2 = [9.00 , 11.10 , 12.34 , 2.01]
cheapest = map(min , store1 , store2)
cheapest
# what map do on python ? 
# =>  c est une fonction qui prend en parametre une fonction et une liste et qui applique la fonction sur chaque element de la liste

# Lambda & List Comprehension <3

In [12]:
fun = lambda x , y , c : x+y
fun(1,2,3)

3

In [ ]:
my_list = []
for number in range(0,1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

In [ ]:
second_meth = [number for number in range(0,1000) if number % 2 == 0]